name: Build Android APK
on: [workflow_dispatch] # Allows you to start the build manually

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      - run: dart run build_runner build # Required for Lichess code generation
      - run: flutter build apk --debug # Builds a test APK
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Lichess-Debug-APK
          path: build/app/outputs/flutter-apk/app-debug.apk
          
